<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Boatrace Venture Project">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="build/coverage-xml/coverage.xml"/>
        </report>
    </coverage>
</phpunit>
